#next {
    margin-left:3rem;
}
#prev {
    margin-right:3rem;
}


.button {
    background-color: #e2deda;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 12px;
    padding:  8px;
    line-height: 15px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.button:hover {
    background-color: #fff;
  }
  
  .button:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }

  .buttonCurr {
    background-color: #422800;
    border: 2px solid #e2deda;
    border-radius: 30px;
    box-shadow: #e2deda 4px 4px 0 0;
    color: #e2deda;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 12px;
    padding:  8px;
    line-height: 15px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.buttonCurr:hover {
  background-color: rgb(244, 244, 244);
  color: #422800
}

.buttonCurr:active {
  box-shadow: #e2deda 2px 2px 0 0;
  transform: translate(2px, 2px);
}
.noselect, .noselectLight {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
        -webkit-tap-highlight-color: transparent;
}




@media (max-width: 520px) {
  .button, .buttonCurr {

    font-weight: 600;
    font-size: 8px;
    padding:  6px;
    line-height: 15px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
  }
  #next {
    margin-left:0.5rem;
}
#prev {
    margin-right:0.5rem;
}
}